<style>
    .fengmian {
        float: left;
        width: 400px;
        height: 250px;
    }

    .article img {
        margin: -1px 20px 5px -1px;
        border-top-left-radius: 3px;
        -webkit-border-radius-topleft: 3%;
    }
     .color3{
         display: inline-block;
         text-decoration: none;
         font-weight: normal;
         font-size: 0.75rem;
         height: 1.125rem;
         line-height: 1.125rem;
         float: left;
         padding: 0 5px 0 1px;
         position: relative;
         border-radius: 0 5px 5px 0;
         margin: 5px 9px 5px 8px;
     }
    #busuanzi_container_page_pv:hover{
        background: #DD8D8D;
    }
</style>


<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <%if(post.noDate != "true"){%>
    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    </div>
  <%}%>
  <div class="article-inner">
    <% if (theme.fancybox){ %>
      <input type="hidden" class="isFancy" />
    <% } %>
      <div class="fengmian" id="fengmian">
          <img class="fengmian-image" id="<%= post.slug %>" src="https://image.xiaomo.info/background/bg-23.jpg" alt="封面" onload="loadImage(this.id)" onload="hideImage(this.id)">
      </div>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
      <% if (!index){ %>
      <div class="article-info article-info-post">
        <%- partial('post/category') %>
        <%- partial('post/tag') %>
          <!-- 访问量  -->
        <!--<span id="busuanzi_container_page_pv" style='display:none'>-->
        <!--<span id="page-visit"><i class="fa fa-eye" style="float: left;margin-top:5px" aria-hidden="true" title="文章访问量"></i>-->
            <!--<span id="busuanzi_value_page_pv"></span>-->
        <!--</span>-->
        <!--</span>-->

        <div class="clearfix"></div>
      </div>
      <% } %>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (index && (post.description || post.excerpt)){ %>
          <% if (post.description){ %>
              <%- post.description %>
          <% } else { %>
              <%- post.excerpt %>
          <% } %>
      <% } else { %>
          <% if (is_page()){ %>
              <%- partial('_partial/page') %>
          <% } %>
        <%- post.content %>
      <% } %>
    </div>
    <% if (index){ %>
    <div class="article-info article-info-index">
      <%if(post.top){%>
        <div class="article-pop-out tagcloud">
          <a class="">置顶</a>
        </div>
      <% } %>
      <%- partial('post/category') %>
      <%- partial('post/tag') %>
      <% if (index && (post.description || post.excerpt)){ %>
        <p class="article-more-link">
          <a href="<%- url_for(post.path) %>#more"><%= __('index.more') %> >></a>
        </p>
      <% } %>
      <div class="clearfix"></div>
    </div>
    <% } %>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
    <script>
        function loadImage (id) {
            var backgroundnum = <%= theme.cover_image %>;
            var randomIndex = Math.ceil(Math.random() * backgroundnum);
            var result = randomIndex+"?version="+(new Date()/1000);
            var backgroundimg = "https://image.xiaomo.info/cover/bg-number.jpg".replace(/number/gi, randomIndex);
            var key = "#"+id;
            $(key).attr("src",backgroundimg);
        }
    </script>
</article>
<% if (!index && ((post.toc != false && !is_page() && theme.toc) || post.toc)){ %>
    <%- partial('_partial/toc') %>
<% } %>

<% if (!index && theme.share.on && (post.share != false || post.share)){ %>
    <%- partial('post/share') %>
<% } %>

<% if (!index && post.comments){ %>
    <% if (theme.duoshuo.on) { %>
      <%- partial('comments/duoshuo', {
          key: post.path,
          title: post.title,
          url: config.url+url_for(post.path),
          }) %>
    <% } else if (theme.youyan.on) { %>
        <%- partial('comments/youyan') %>
    <% } else if (theme.disqus.on) { %>
        <%- partial('comments/disqus', {
            shortname: theme.disqus.shortname
          }) %>
    <% } else if (config.disqus_shortname) { %>
        <%- partial('comments/disqus', {
            shortname: config.disqus_shortname
          }) %>
    <% } %>
<% } %>

<%- partial('_partial/post-nav-button') %>

<% if (!index) { %>
    <script>
        <% if (post.fancybox === false){ %>
            yiliaConfig.fancybox = false;
        <% } %>
    </script>
<% } %>

<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();


    function getPgjs(){
            var agent = navigator.userAgent.toLowerCase();
            var res = agent.match(/android/);
            if(res == "android")
                return res;
            res = agent.match(/iphone/);
            if(res == "iphone")
                return "ios";
            res = agent.match(/ipad/);
            if(res == "ipad")
                return "ios";
            res = agent.match(/windows/);
            if(res == "windows")
                return "wp";
            return "pc";
        }

    function hideImage(id){
     var result = getPgjs();
     if(result !="pc" || result!="wp"){
      $("#"+id).hide();
        }
 }

</script>