<style>
    .fengmian {
        float: left;
        width: 400px;
        height: 250px;
    }

    .article img {
        margin: -1px 20px 5px -1px;
        border-top-left-radius: 3px;
        -webkit-border-radius-topleft: 3%;
        -webkit-transition:all 0.5s;
        -moz-transition:all 0.5s;
        -o-transition:all 0.5s;
    }
    .article img:hover{
        transform: scale(1, 1.05);
        -webkit-transition:all 0.5s;
        -moz-transition:all 0.5s;
        -o-transition:all 0.5s;
    }
    .color3{
        display: inline-block;
        text-decoration: none;
        font-weight: normal;
        font-size: 0.75rem;
        height: 1.125rem;
        line-height: 1.125rem;
        float: left;
        padding: 0 5px 0 1px;
        position: relative;
        border-radius: 0 5px 5px 0;
        margin: 5px 9px 5px 8px;
    }
    #busuanzi_container_page_pv:hover{
        background: #DD8D8D;
    }
</style>


<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
    <%if(post.noDate != "true"){%>
    <div class="article-meta">
        <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    </div>
    <%}%>
    <div class="article-inner">
        <% if (theme.fancybox){ %>
        <input type="hidden" class="isFancy" />
        <% } %>
        <div class="fengmian">
            <img class="fengmian-image" id="<%= post.slug %>" src="https://image.xiaomo.info/background/bg-23.jpg" alt="封面" onload="loadImage(this.id)" />
        </div>
        <% if (post.link || post.title){ %>
        <header class="article-header">
            <%- partial('post/title', {class_name: 'article-title'}) %>
        </header>
        <% if (!index){ %>
        <div class="article-info article-info-post">
            <%- partial('post/category') %>
            <%- partial('post/tag') %>
            <!-- 访问量  -->
            <!--<span id="busuanzi_container_page_pv" style='display:none'>-->
            <!--<span id="page-visit"><i class="fa fa-eye" style="float: left;margin-top:5px" aria-hidden="true" title="文章访问量"></i>-->
            <!--<span id="busuanzi_value_page_pv"></span>-->
            <!--</span>-->
            <!--</span>-->

            <div class="clearfix"></div>
        </div>
        <% } %>
        <% } %>
        <div class="article-entry" itemprop="articleBody">
            <% if (index && (post.description || post.excerpt)){ %>
            <% if (post.description){ %>
            <%- post.description %>
            <% } else { %>
            <%- post.excerpt %>
            <% } %>
            <% } else { %>
            <% if (is_page()){ %>
            <%- partial('_partial/page') %>
            <% } %>
            <%- post.content %>
            <% } %>
        </div>
        <% if (index){ %>
        <div class="article-info article-info-index">
            <%if(post.top){%>
            <div class="article-pop-out tagcloud">
                <a class="">置顶</a>
            </div>
            <% } %>
            <%- partial('post/category') %>
            <%- partial('post/tag') %>
            <% if (index && (post.description || post.excerpt)){ %>
            <p class="article-more-link">
                <a href="<%- url_for(post.path) %>#more"><%= __('index.more') %> >></a>
            </p>
            <% } %>
            <div class="clearfix"></div>
        </div>
        <% } %>
    </div>
    <% if (!index){ %>
    <%- partial('post/nav') %>
    <% } %>
    <script>

        function getPgjs(){
            var agent = navigator.userAgent.toLowerCase();
            var res = agent.match(/android/);
            if(res == "android")
                return res;
            res = agent.match(/iphone/);
            if(res == "iphone")
                return "ios";
            res = agent.match(/ipad/);
            if(res == "ipad")
                return "ios";
            res = agent.match(/windows/);
            if(res == "windows")
                return "wp";
            return "pc";
        }

        function loadImage (id) {
//            var result = getPgjs();
//            if(result=="wp"){
//                $(".fengmian").hide();
//                console.log(result);
//                return;
//            }
            var backgroundnum = <%= theme.cover_image %>;
            var randomIndex = Math.ceil(Math.random() * backgroundnum);
            var result = randomIndex+"?version="+(new Date()/1000);
            var backgroundimg = "https://image.xiaomo.info/cover/bg-number.jpg".replace(/number/gi, randomIndex);
            var key = "#"+id;
            $(key).attr("src",backgroundimg);
            $(".fengmian").show();
        }
    </script>
</article>
<!-- 代码1：放在页面需要展示的位置  -->
<!-- 如果您配置过sourceid，建议在div标签中配置sourceid、cid(分类id)，没有请忽略  -->
<div id="cyReward" role="cylabs" data-use="reward" style="margin-left: 45%" ></div>
<div id="cyEmoji" role="cylabs" data-use="emoji"></div>


<script>
    (function(){
        var path = window.location.pathname;
        if (path =="/" || path== undefined || path == null ){
            console.log(1111111111111);
            $("#cyReward").hide();
            $("#cyEmoji").hide();
        }
    })()


</script>

<!-- 代码2：用来读取评论框配置，此代码需放置在代码1之后。 -->
<!-- 如果当前页面有评论框，代码2请勿放置在评论框代码之前。 -->
<!-- 如果页面同时使用多个实验室项目，以下代码只需要引入一次，只配置上面的div标签即可 -->
<script type="text/javascript" charset="utf-8" src="https://changyan.itc.cn/js/lib/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="https://changyan.sohu.com/js/changyan.labs.https.js?appid=cysUkgluO"></script>
<% if (!index && ((post.toc != false && !is_page() && theme.toc) || post.toc)){ %>
<%- partial('_partial/toc') %>
<% } %>

<% if (!index && theme.share.on && (post.share != false || post.share)){ %>
<%- partial('post/share') %>
<% } %>

<% if (!index && post.comments){ %>
<% if (true) { %>
<% if (!index){ %>
<section id="comments">
    <!--高速版，加载速度快，使用前需测试页面的兼容性-->
    <div id="SOHUCS" sid="<%= page.title %>"></div>
    <script>
        (function(){
            var appid = 'cysUkgluO',
                conf = 'prod_a71fc51bc9b832401d9918d524426c51'
            var doc = document,
                s = doc.createElement('script'),
                h = doc.getElementsByTagName('head')[0] || doc.head || doc.documentElement;
            s.type = 'text/javascript';
            s.charset = 'utf-8';
            s.src =  'https://xiaomo.info/js/changyan.js?conf='+ conf +'&appid=' + appid;
            h.insertBefore(s,h.firstChild);
            window.SCS_NO_IFRAME = true;
        })()
    </script>
</section>
<% } %>
<% } else if (theme.youyan.on) { %>
<%- partial('comments/youyan') %>
<% } else if (theme.disqus.on) { %>
<%- partial('comments/disqus', {
    shortname: theme.disqus.shortname
}) %>
<% } else if (config.disqus_shortname) { %>
<%- partial('comments/disqus', {
    shortname: config.disqus_shortname
}) %>
<% } %>
<% } %>

<%- partial('_partial/post-nav-button') %>

<% if (!index) { %>
<script>
    <% if (post.fancybox === false){ %>
    yiliaConfig.fancybox = false;
    <% } %>
</script>
<% } %>

<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>
